## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config2 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,74.39,81,100,18.32,light rain
1,1,Juba,SS,4.8517,31.5825,72.23,82,38,3.89,light rain
2,2,Progreso,MX,21.2833,-89.6667,88.11,73,14,12.88,few clouds
3,3,Sitka,US,57.0531,-135.3300,46.29,76,90,16.11,moderate rain
4,4,Kuusamo,FI,65.9667,29.1833,44.64,93,90,6.91,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,74.39,81,100,18.32,light rain
1,1,Juba,SS,4.8517,31.5825,72.23,82,38,3.89,light rain
2,2,Progreso,MX,21.2833,-89.6667,88.11,73,14,12.88,few clouds
5,5,Iberia,US,29.9502,-91.7507,86.09,58,1,6.91,clear sky
8,8,Vaini,TO,-21.2000,-175.2000,80.76,78,20,5.75,light rain
11,11,Mahebourg,MU,-20.4081,57.7000,73.26,76,16,18.88,few clouds
13,13,Mapimi,MX,25.8167,-103.8500,90.37,16,0,4.85,clear sky
14,14,Hilo,US,19.7297,-155.0900,78.80,85,90,10.36,heavy intensity rain
16,16,Avarua,CK,-21.2078,-159.7750,78.85,57,23,5.75,few clouds
22,22,Uarini,BR,-2.9900,-65.1083,89.55,78,99,1.90,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                299
City                   299
Country                298
Lat                    299
Lng                    299
Max Temp               299
Humidity               299
Cloudiness             299
Wind Speed             299
Current Description    299
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                298
City                   298
Country                298
Lat                    298
Lng                    298
Max Temp               298
Humidity               298
Cloudiness             298
Wind Speed             298
Current Description    298
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,74.39,light rain,-23.1203,-134.9692,
1,Juba,SS,72.23,light rain,4.8517,31.5825,
2,Progreso,MX,88.11,few clouds,21.2833,-89.6667,
5,Iberia,US,86.09,clear sky,29.9502,-91.7507,
8,Vaini,TO,80.76,light rain,-21.2000,-175.2000,
11,Mahebourg,MU,73.26,few clouds,-20.4081,57.7000,
13,Mapimi,MX,90.37,clear sky,25.8167,-103.8500,
14,Hilo,US,78.80,heavy intensity rain,19.7297,-155.0900,
16,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,
22,Uarini,BR,89.55,overcast clouds,-2.9900,-65.1083,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"]=f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API (nearby search used instead) to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found... skipping")
                
hotel_df.head()

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,74.39,light rain,-23.1203,-134.9692,People ThankYou
1,Juba,SS,72.23,light rain,4.8517,31.5825,ROYAL PALACE HOTEL - JUBA
2,Progreso,MX,88.11,few clouds,21.2833,-89.6667,Playa Linda Hotel
5,Iberia,US,86.09,clear sky,29.9502,-91.7507,back to back rv park
8,Vaini,TO,80.76,light rain,-21.2000,-175.2000,Keleti Beach Resort

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   298
Country                298
Max Temp               298
Current Description    298
Lat                    298
Lng                    298
Hotel Name             298
dtype: int64

In [10]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,74.39,light rain,-23.1203,-134.9692,People ThankYou
1,Juba,SS,72.23,light rain,4.8517,31.5825,ROYAL PALACE HOTEL - JUBA
2,Progreso,MX,88.11,few clouds,21.2833,-89.6667,Playa Linda Hotel
5,Iberia,US,86.09,clear sky,29.9502,-91.7507,back to back rv park
8,Vaini,TO,80.76,light rain,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
676,Karratha,AU,73.69,clear sky,-20.7377,116.8463,ibis Styles Karratha
679,Tigbinan,PH,74.59,light rain,14.1865,122.4692,Emerenciana's resort
681,Presidencia Roque Saenz Pena,AR,76.42,broken clouds,-26.7852,-60.4388,Hotel Gualok
683,Eyl,SO,77.23,few clouds,7.9803,49.8164,Amiin Hotel
685,Mbandaka,CD,73.85,overcast clouds,0.0487,18.2603,Guest House Epervier

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))